@* @{ *@
@*     ViewData["Title"] = "Admin Dashboard"; *@
@* } *@

@* <h2>Welcome, Admin</h2> *@

@* <div class="btn-group-vertical" style="margin-top: 20px;"> *@
@*     <a href="/User/Index" class="btn btn-primary mb-2">User Management</a> *@
@*     <a href="/Book/Index" class="btn btn-success">Book Management</a> *@
@* </div> *@



@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div class="mt-4">
    <a href="/Admin/UserList" class="btn btn-primary m-2">User Management</a>
    <a href="/Book/Index" class="btn btn-success m-2">Book Management</a>
</div>
